* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.container {
    background-color: gray;
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 450px 1fr;
    gap: 10px;

    align-items: center;
    justify-items: center;
}

.container h1 {
    align-self: end;
    color: white;
}

.gameboard {
    align-self: center;
    
    height: 400px;
    width: 100%;
    max-width: 400px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 6px;
}

.space {
    background-color: purple;
    height: 100%;
    border-radius: 12px;
    color: white;
    font-size: 96px;

    display: grid;
    align-content: center;
    justify-content: center;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.highlight {
    background-color: green;
    transition: 1s;
}

button#reset {
    background-color: purple;
    border: none;
    padding: 20px 40px;
    align-self: start;
    border-radius: 12px;
    color: white;
    font-size: 24px;
}

button#reset:active {
    transform: scale(0.9);
    transition: 100ms;
}